extends layout

block content
  h1= title
  form#submitform(method='get', action='javascript:sendKeyWords()')
    div.input
      span.label Keywords
      input(type='text', id='keywords')
    div.actions
      input(type='submit')
      
  div#keywordsSplit

  script.
    function sendKeyWords() {
      let form = $('#submitform');
      let query = form.serialize();
      
      //Replace spaces with commas and dangerous symbols
      let keywords = $('#keywords').val().replace(/\s+/g,",");
      keywords = keywords.replace(/(["´`'])/g, '');
      
      console.log(keywords);
      $.get('/tweets', {keywords: keywords}, function(res) {
        var tweetsDiv = d3.select('#keywordsSplit');
          
        for(i = 0; i < res.length; i++) {
          for(j = 0; j < res[i].length; j++) {
            tweetsDiv.append('p').text(res[i][j].text);  
          }
        }
      });
    }
