extends layout

block content
    h1= title
    form#submitform(method='get', action='javascript:sendKeyWords()')
            span.label Keywords
            input(type='text', id='keywords')
            input(type='submit')

    div#stat= statistics

    script.

        function sendKeyWords() {
            //Replace spaces with commas and remove dangerous symbols
            let keywords = $('#keywords').val().replace(/\s+/g, ",");
            keywords = encodeURIComponent(keywords.replace(/(["´`'])/g, ''));

            $.post(`/trackstreams`, {keywords: keywords}, function (res) {
                window.location = `/visualization?keywords=${keywords}`;
            });
        }
