extends layout

block content
    h1= title
    form#submitform(method='get', action='javascript:sendKeyWords()')
        div.input
            span.label Keywords
            input(type='text', id='keywords')
        div.actions
            input(type='submit')

    div#keywordsSplit

    br
    form(method='post', action='/persistence')
        input(name='content')
        input(type='submit')

    script.
        function sendKeyWords() {
            let form = $('#submitform');
            let query = form.serialize();

            //Replace spaces with commas and remove dangerous symbols
            let keywords = $('#keywords').val().replace(/\s+/g, ",");
            keywords = encodeURIComponent(keywords.replace(/(["´`'])/g, ''));

            $.post(`/trackstreams`, {keywords: keywords}, function (res) {
                window.location = `/visualization?keywords=${keywords}`;
            });
        }
