body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #0074D9;
  color: white;
}
input[type=submit] {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

a {
  color: #00B7FF;
}

#stream {
  height: 250px;
  overflow-y: scroll;
  border: 1px solid black;
}
